:root {
  --default-red: rgb(234, 45, 46);

  --default-blue: rgb(0, 116, 189);
  --default-blue-transparent: rgba(0, 116, 189, .1);
  --default-blue-light: rgba(0, 116, 189, .2);

  --default-grey: rgb(128, 128, 128);
  --default-grey-transparent: rgba(128, 128, 128, .1);
  --default-grey-light: rgba(128, 128, 128, 0.2);

  --default-green: #64ba44;
  --default-orange: #f7821a;
  --default-purple: #a550a7;
  --default-cyan: #008080;
  --default-pink: #f84e9e;

  --font-color: #333333;
  --bg-color: #fbfbfc;
  --bg-like: #fafafc;
  --bg-grey: #eaeaea;
  --shadow-color: #d9d9d9;
}

svg:not(.n-message *) {
  fill: var(--font-color);
  cursor: pointer;
}

svg path:not(.n-message *) {
  color: var(--font-color) !important;
}

svg.default {
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

svg.default:hover {
  background: var(--default-grey-light);
}

#app {
  height: 100vh;
}

* {
  font-size: 16px;
}

*:not(body, div.hljs, div.hljs *, .n-message *) {
  color: var(--font-color);
  transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    background 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    border 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
  background: var(--bg-color);
}

button {
  font-weight: bold;
  height: 35px;
  padding: 0 20px;
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--default-grey) !important;
  background: var(--default-grey-transparent);
  transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1),
              background 1s cubic-bezier(0.075, 0.82, 0.165, 1),
              border 1s cubic-bezier(0.075, 0.82, 0.165, 1),
              transform .5s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  cursor: pointer;
}

button.dp__btn.dp__month_year_select {
  padding: 0 5px !important;
}

button:hover {
  transform: scale(1.05);
  background: var(--default-grey-light);
}

button.styled {
  color: var(--default-blue) !important;
  background: var(--default-blue-transparent);
  border: 0;
}

button.styled:hover {
  background: var(--default-blue-light);
}

button.danger {
  color: var(--default-red) !important;
  background-color: rgba(234, 45, 46, .1);
  border: 0;
}

button.danger:hover {
  background: rgba(234, 45, 46, .2);
}

button:disabled {
  cursor: not-allowed;
}

input {
  width: 400px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid var(--default-grey-light);
  background: transparent;
  font-size: 16px;
  caret-color: var(--default-blue);
}

input:hover,
input:focus {
  border: 1px solid var(--default-blue);
}

div.empty-hint {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 18px;
  margin: 20px auto;
  margin-bottom: 10px;
}

.shadow.markdown-body {
  border-radius: 10px !important;
  overflow: hidden !important;
  box-shadow: 0px 0px 5px var(--shadow-color) !important;
  max-width: 1350px !important;
}

div.v-note-wrapper {
  background: transparent !important;
}

/* 公告中、lab 详情页、迭代详情页、评测结果、讨论详情页、讨论回复的 markdown 不展示边框 */
.notice-wrapper .shadow.markdown-body,
.lab-container .shadow.markdown-body,
.iter-container .shadow.markdown-body,
.result-wrapper .shadow.markdown-body,
.discussion-detail .shadow.markdown-body,
.reply .shadow.markdown-body:not(.reply-input *) {
  box-shadow: none !important;
  border-radius: 0 !important;
}
/* 讨论回复的 markdown 底部不要 padding */
.reply .v-show-content {
  padding-bottom: 0 !important;
}

.v-note-op {
  border-bottom: 1px solid var(--bg-grey) !important;
}

.auto-textarea-wrapper.content-input,
.markdown-body .v-note-op,
.v-note-edit,
.content-input-wrapper,
.no-border.no-resize.auto-textarea-input,
.scroll-style.scroll-style-border-radius.v-show-content {
  background: var(--bg-color) !important;
}

.auto-textarea-wrapper .auto-textarea-input:not(code) {
  color: var(--font-color) !important;
}

.markdown-body .highlight pre,
.markdown-body pre {
  background: #282c34 !important;
}

.markdown-body table,
.markdown-body table * {
  background: transparent !important;
}

.hljs,
.hljs *,
code {
  /* background: transparent !important; */
  font-size: 14px !important;
  font-family: Monaco, Menlo, Consolas, sans-serif !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 16px !important;
  margin-bottom: 8px !important;
  color: var(--font-color) !important;
}

.markdown-body em {
  font-style: italic;
}

.markdown-body ol,
.markdown-body ol li {
  list-style: decimal;
}

.markdown-body ul,
.markdown-body ul li {
  list-style: disc;
}

.markdown-body ins {
  text-decoration: underline;
}

.markdown-body s {
  text-decoration: line-through;
}

.markdown-body img {
  width: 20%;
  margin: 0 auto;
}

.markdown-body p:last-child {
  margin-bottom: 0 !important;
}
/* markdown 代码块删除横向滚动条 */
pre,
pre * {
  scrollbar-width: 0 !important;
}
/* markdown 代码块删除横向滚动条 */
pre::-webkit-scrollbar,
pre *::-webkit-scrollbar {
  display: none !important;
}
/* markdown 的添加图片只需要选择本地文件即可 */
div.op-image div.dropdown-item:first-child {
  display: none !important;
}
div.op-image div.dropdown-item:last-child {
  font-size: 16px !important;
  cursor: pointer !important;
}
/* markdown 底部一处过渡样式不对 */
div.v-note-edit.divarea-wrapper.scroll-style.transition {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}
/* markdown dropdown 颜色 */
.markdown-body .popup-dropdown {
  background: var(--bg-color) !important;
  border: 0 !important;
}
.markdown-body .popup-dropdown:hover {
  background: var(--bg-grey) !important;
}
.markdown-body .dropdown-item {
  border-radius: 3px !important;
  color: var(--font-color) !important;
  background: var(--bg-color) !important;
}
.dropdown-item:hover {
  background: var(--bg-grey) !important;
}

/* naive 消息样式 */
.n-message {
  background: var(--bg-grey) !important;
  border-radius: 5px !important;
}

.n-message__content {
  color: var(--font-color) !important;
}


.n-message svg {
  margin-top: 3px !important;
}

i.n-icon,
i.n-icon svg {
  width: 25px !important;
  height: 25px !important;
}

div.n-layout,
aside.n-layout-sider,
div.n-layout-sider-scroll-container,
div.n-menu.n-menu--vertical,
div.n-menu-item,
div.n-menu-item-content,
/* .n-menu .n-menu-item-content::before, */
div.n-menu-item-content__icon,
div.n-menu-item-content-header {
  background: transparent !important;
}

div.n-menu {
  --n-item-text-color: var(--font-color) !important;
  --n-item-text-color-hover: var(--font-color) !important;
  --n-item-text-color-active: var(--default-blue) !important;
  --n-item-text-color-active-hover: var(--default-blue) !important;
  --n-item-text-color-child-active-hover: var(--default-blue) !important;
  --n-item-text-color-child-active: var(--default-blue) !important;
  --n-item-icon-color-active: var(--default-blue) !important;
  --n-item-icon-color-active-hover: var(--default-blue) !important;
  --n-item-icon-color-child-active: var(--default-blue) !important;
  --n-item-icon-color-child-active-hover: var(--default-blue) !important;
  --n-item-color-hover: var(--default-grey-transparent) !important;
  --n-item-color-active: var(--default-blue-transparent) !important;
  --n-item-color-active-hover: var(--default-blue-transparent) !important;
  --n-item-color-active-collapsed: var(--default-blue-transparent) !important;
}

div.n-menu a[href="/iter/create"],
div.n-menu a[href="/lab/create"] {
  font-weight: bold !important;
  color: var(--default-blue) !important
}


/* 菜单右侧分割线 */
div.n-layout-sider__border {
  background: var(--bg-grey) !important;
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.v-binder-follower-container div.n-popover {
  background: var(--bg-like) !important;
  max-width: 400px !important;
  border-radius: 5px;
}

.v-binder-follower-container div.n-popover-arrow {
  background: var(--bg-like) !important;
}

/* 公告折叠菜单的标题样式 */
div.n-collapse-item__header {
  transition: none !important;
}
div.n-collapse-item__header-main {
  color: var(--default-blue) !important;
  font-size: 18px !important;
  font-weight: bold !important;
}
/* 公告折叠菜单的箭头样式（1） */
div.n-collapse-item-arrow i,
div.n-collapse-item-arrow svg {
  width: 20px !important;
  height: 20px !important;
}
/* 公告折叠菜单的箭头样式（2） */
div.n-collapse-item-arrow svg,
div.n-collapse-item-arrow svg path {
  fill: var(--default-blue) !important;
}
/* 公告折叠菜单折叠部分 padding */
div.n-collapse-item__content-inner {
  padding-top: 0 !important;
}

/* 弹出确认背景颜色 */
div.n-popover.n-popover-shared.n-popconfirm.n-popover-shared--show-arrow {
  background: var(--bg-like) !important;
  box-shadow: 0 0 5px var(--shadow-color) !important;
}
/* 弹出确认文字 */
div.n-popconfirm__body {
  color: var(--font-color) !important;
  font-size: 16px !important;
  font-weight: bold !important;
}
/* 弹出确认按钮（取消） */
button.n-button.n-button--small-type {
  --n-border: none !important;
  --n-border-hover: none !important;
  --n-border-pressed: none !important;
  --n-border-focus: none !important;
  --n-color: var(--default-grey-transparent) !important;
  --n-color-hover: var(--default-grey-light) !important;
  --n-color-pressed: var(--default-grey-light) !important;
  --n-color-focus: var(--default-grey-light) !important;
  --n-ripple-color: transparent !important;
}
/* 弹出确认按钮文字（取消和确认） */
button.n-button.n-button--small-type .n-button__content {
  color: var(--default-grey) !important;
  font-size: 14px !important;
  font-weight: bold !important;
}
/* 弹出确认按钮（确认） */
button.n-button.n-button--primary-type.n-button--small-type {
  --n-border: none !important;
  --n-border-hover: none !important;
  --n-border-pressed: none !important;
  --n-border-focus: none !important;
  --n-color: var(--default-blue-transparent) !important;
  --n-color-hover: var(--default-blue-light) !important;
  --n-color-pressed: var(--default-blue-light) !important;
  --n-color-focus: var(--default-blue-light) !important;
}
button.n-button.n-button--primary-type.n-button--small-type .n-button__content {
  color: var(--default-blue) !important;
}

/* 模态框样式 */
div.n-card.n-modal {
  --n-close-icon-size: 25px !important;
  --n-color-modal: var(--bg-like) !important;
  --n-border-radius: 10px !important;
  --n-padding-bottom: 5px !important;
}

div.n-card-header i,
div.n-card-header svg {
  width: 25px !important;
  height: 25px !important;
}

/* n-pagination 相关样式 */
.n-pagination {
  --n-item-text-color: var(--font-color) !important;
  --n-item-text-color-hover: var(--default-blue) !important;
  --n-item-text-color-active: var(--default-blue) !important;
  --n-item-text-color-pressed: var(--default-blue) !important;
  --n-item-border-active: 1px solid var(--default-blue) !important;
  --n-item-color-disabled: transparent !important;
}

div.n-virtual-list {
  background: var(--bg-grey) !important;
}

div.n-base-select-option:hover::before {
  background: var(--default-grey-light) !important;
}

/* 设置不可点击 svg 的鼠标样式 */
.n-pagination-item--disabled svg {
  cursor: not-allowed !important;
}

/* date picker 相关样式 */
div.dp__input_wrap,
div.dp__input_wrap * {
  font-size: 12px !important;
}
input.dp__pointer.dp__input_readonly.dp__input.dp__input_icon_pad.dp__input_reg,
div.dp__outer_menu_wrap.dp--menu-wrapper,
div.dp__outer_menu_wrap.dp--menu-wrapper *:not(button, .dp__active_date) {
  background: var(--bg-color) !important;
  color: var(--font-color) !important;
}
button.dp__btn.dp__button {
  background: transparent !important;
}
button.dp__time_display.dp__time_display_block.dp--time-overlay-btn {
  color: var(--font-color) !important;
  background: transparent !important;
}
button.dp__btn.dp__inc_dec_button {
  background: transparent !important;
}
button.dp__btn.dp__month_year_select {
  background: transparent !important;
}
button.dp__btn.dp__month_year_select:hover,
div.dp__outer_menu_wrap.dp--menu-wrapper div.dp__cell_inner:hover,
button.dp__btn.dp__button:hover {
  background: var(--bg-grey) !important;
}
/* div.dp--tp-wrap {
  overflow: hidden !important;
} */
button.dp__btn.dp__button[aria-label="Open time picker"] {
  width: 104% !important;
}

div.dp--menu-wrapper, div.dp--menu-wrapper * {
  scrollbar-width: 0 !important;
}
div.dp--menu-wrapper::-webkit-scrollbar, 
div.dp--menu-wrapper *::-webkit-scrollbar {
  display: none !important;
}
div.dp__menu.dp__menu_index.dp__theme_light {
  overflow: hidden !important;
}

/* 等待评测 Vue3Lottie 中的 svg cursor 不应为 pointer */
.test-result .lottie-animation-container svg {
  cursor: default !important;
}

/* n-input-number (组员权重) 样式 */
div.n-input-number {
  /* position: absolute !important; */
  /* right: 0 !important; */
  border: 1px solid var(--default-grey);
  border-radius: 3px !important;
  height: 20px !important;
}

div.n-input-number,
div.n-input-number * {
  background: transparent !important;
  height: 20px !important;
}

div.n-input-wrapper {
  padding-left: 3px !important;
  padding-right: 3px !important;
  height: 20px !important;
  align-items: flex-start !important;
  flex-grow: 0 !important;
}

div.n-input__input {
  width: 25px !important;
}

input.n-input__input-el {
  font-size: 14px !important;
  color: var(--font-color) !important;
  width: 25px !important; 
  caret-color: var(--default-blue) !important;
  height: 20px !important;
  position: absolute !important;
  top: 0 !important;
}

div.n-input__placeholder {
  display: none !important;
}

div.n-input__suffix {
  margin-left: 0 !important;
}

div.n-input-number svg {
  width: 15px !important;
  height: 15px !important;
}

div.n-input-number button.n-button.n-button--default-type.n-button--medium-type,
div.n-input-number span.n-button__icon,
div.n-input-number div.n-icon-slot,
div.n-input-number i.n-base-icon {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 15px !important;
  height: 15px !important;
}

/* n-select 样式 */
div.n-base-selection-placeholder__inner {
  color: var(--default-grey) !important;
  padding-top: 5px !important;
}

div.n-base-selection-input__content {
  padding-top: 5px !important;
}

div.n-select {
  width: 300px !important;
}

div.n-base-selection {
  height: 40px !important;
}

div.n-base-selection {
  --n-border: 1px solid var(--default-grey-light) !important;
  --n-border-active: 1px solid var(--default-blue) !important; 
  --n-border-hover: 1px solid var(--default-blue) !important; 
  --n-border-focus: 1px solid var(--default-blue) !important; 
  --n-box-shadow-active: none !important;
  --n-box-shadow-focus: none !important;
}

div.n-base-selection-label {
  background: transparent !important;
}

div.n-base-select-menu.n-select-menu {
  --n-color: var(--bg-like) !important; 
  --n-option-color-pending: var(--default-grey-transparent) !important;
  --n-option-color-active-pending: var(--default-grey-transparent) !important;
  --n-option-text-color-active: var(--default-blue) !important;
  --n-option-text-color-pressed: var(--default-blue) !important;
}

.n-base-selection .n-base-suffix {
  transform: translateY(-30%) !important;
}

.n-base-selection__border {
  border-radius: 5px !important;
}

/* 筛选学生时，选择教师的 select 宽度减小 */
.filter div.n-select {
  width: 120px !important;
}

/* n-date-table */
div.n-data-table {
  --n-th-text-color: var(--font-color) !important;
  --n-td-text-color: var(--font-color) !important;
  --n-merged-th-color: transparent !important;
  --n-merged-td-color: transparent !important;
  --n-merged-border-color: var(--default-grey-transparent) !important;
  --n-merged-td-color-hover: var(--default-grey-transparent) !important;
  /* --n-th-color: transparent !important;
  --n-th-color-hover: transparent !important;
  --n-th-color-modal: transparent !important;
  --n-th-color-hover-modal: transparent !important;
  --n-th-color-popover: transparent !important;
  --n-th-color-hover-popover: transparent !important; */
}